.body {
  background-color: #f8f8f6;
}
.row-bordered {
  background-color:#dedcd4;
}
.row-bordered:after {
content: "";
background-color:black;
display: block;
border-bottom: 3px solid #659940;
/*margin: 0 15px;*/
}
.row-bordered h1 {
  font-family: 'Saira Condensed';
}

