body {
  background-color: #f8f8f6;
}
.top-buffer {
  margin-top: 75px;
}
.left-indent {
  margin-left: 10%;
}
.fa-check {
  color:green;
}
.row p {
  font-family: 'Open Sans Light';
  color:#595959;
}
.row span {
  font-family: 'Open Sans';
}
.jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
}
.breadcrumb {
  background: #f8f8f6;
}
.caption {
  position: absolute;
  color: white;
}
.mpcButton {
  height: 250px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.mpcButtonChild {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.bg-one {
  background-image: url(../Images/MPC1.jpg);
}
.mpcButtonChild a {
  display: block;
  font-size: 30px;
  color: white !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
}
.mpcButton:hover .mpcButtonChild, .mpcButton:focus .mpcButtonChild {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.mpcButton:hover .mpcButtonChild:before, .mpcButton:focus .mpcButtonChild:before {
  display: block;
}

.mpcButtonChild:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52,73,94,0.75);
}