body {
  background-color: #f8f8f6;
}
.top-buffer {
  margin-top: 75px;
}
.left-indent {
  margin-left: 10%;
}
.fa-check {
  color:green;
}
.row p {
  font-family: 'Open Sans Light';
  color:#595959;
}
.row span {
  font-family: 'Open Sans';
}
.jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
}
.breadcrumb {
  background: #f8f8f6;
}
.caption {
  position: absolute;
  color: white;
}